<!DOCTYPE html>

<html>
<head>
    </head>
<body>
    <table>
        <thead>Operable Location</thead>
        <tr><td>Chennai</td></tr>
        <tr><td>Erode</td></tr>
        <tr><td>Salem</td></tr>
        <tr><td>Coimbatore</td></tr>
        
    </table>
</body>
